name: Node CI

on: 
  push:
  pull_request:
  schedule:
    # build runs everyday at 6AM UTC
    - cron: '0 6 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: project check
      run: |
        npm i
        npm run release
      env:
        CI: true